<Controls>
  <Player0>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_UseCard>None</Keyboard_UseCard>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_SelectCards>None</Keyboard_SelectCards>
    <Keyboard_Taunt>None</Keyboard_Taunt>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_UseCard>
    </Gamepad_UseCard>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_SelectCards>
    </Gamepad_SelectCards>
    <Gamepad_Taunt>
    </Gamepad_Taunt>
  </Player0>
  <Player1>
    <Keyboard_Up>W</Keyboard_Up>
    <Keyboard_Down>S</Keyboard_Down>
    <Keyboard_Left>A</Keyboard_Left>
    <Keyboard_Right>D</Keyboard_Right>
    <Keyboard_Attack>K</Keyboard_Attack>
    <Keyboard_UseCard>J</Keyboard_UseCard>
    <Keyboard_Pause>Escape</Keyboard_Pause>
    <Keyboard_Accept>K</Keyboard_Accept>
    <Keyboard_Cancel>J</Keyboard_Cancel>
    <Keyboard_SelectCards>I</Keyboard_SelectCards>
    <Keyboard_Taunt>L</Keyboard_Taunt>
    <Gamepad_Up>Left Stick Up</Gamepad_Up>
    <Gamepad_Down>Left Stick Down</Gamepad_Down>
    <Gamepad_Left>Left Stick Left</Gamepad_Left>
    <Gamepad_Right>Left Stick Right</Gamepad_Right>
    <Gamepad_Attack>A</Gamepad_Attack>
    <Gamepad_UseCard>B</Gamepad_UseCard>
    <Gamepad_Pause>Start</Gamepad_Pause>
    <Gamepad_Accept>A</Gamepad_Accept>
    <Gamepad_Cancel>B</Gamepad_Cancel>
    <Gamepad_SelectCards>RB</Gamepad_SelectCards>
    <Gamepad_Taunt>Back</Gamepad_Taunt>
  </Player1>
  <Player2>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_UseCard>None</Keyboard_UseCard>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_SelectCards>None</Keyboard_SelectCards>
    <Keyboard_Taunt>None</Keyboard_Taunt>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_UseCard>
    </Gamepad_UseCard>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_SelectCards>
    </Gamepad_SelectCards>
    <Gamepad_Taunt>
    </Gamepad_Taunt>
  </Player2>
  <Player3>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_UseCard>None</Keyboard_UseCard>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_SelectCards>None</Keyboard_SelectCards>
    <Keyboard_Taunt>None</Keyboard_Taunt>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_UseCard>
    </Gamepad_UseCard>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_SelectCards>
    </Gamepad_SelectCards>
    <Gamepad_Taunt>
    </Gamepad_Taunt>
  </Player3>
  <Player4>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_UseCard>None</Keyboard_UseCard>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_SelectCards>None</Keyboard_SelectCards>
    <Keyboard_Taunt>None</Keyboard_Taunt>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_UseCard>
    </Gamepad_UseCard>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_SelectCards>
    </Gamepad_SelectCards>
    <Gamepad_Taunt>
    </Gamepad_Taunt>
  </Player4>
  <Player5>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_UseCard>None</Keyboard_UseCard>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_SelectCards>None</Keyboard_SelectCards>
    <Keyboard_Taunt>None</Keyboard_Taunt>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_UseCard>
    </Gamepad_UseCard>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_SelectCards>
    </Gamepad_SelectCards>
    <Gamepad_Taunt>
    </Gamepad_Taunt>
  </Player5>
  <Player6>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_UseCard>None</Keyboard_UseCard>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_SelectCards>None</Keyboard_SelectCards>
    <Keyboard_Taunt>None</Keyboard_Taunt>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_UseCard>
    </Gamepad_UseCard>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_SelectCards>
    </Gamepad_SelectCards>
    <Gamepad_Taunt>
    </Gamepad_Taunt>
  </Player6>
</Controls>